<div class="col-sm-12 col-md-2">
  <h3><%= @user.nickname %></h3>
  <%= image_tag @user.get_profile_image(100,100) %>
   <% if @user == current_user %>
    <p><%= link_to "Edit profile", edit_user_path(@user) %>
    </p>
  <% end %>

<div>
 <% if @user == current_user %>
 <%= link_to "Chat Room Index", rooms_path %>
 <% else %>
 <%= link_to "Send text", room_path(@user.id) %>

<% end %>

 </div>

</div>

<%= render 'stray_cats/list', stray_cats: @stray_cats %>

<%= render 'protective_cats/list', protective_cats: @protective_cats %>

