<body class="d-flex flex-column vh-100">
<main class ="mb-auto">
  <div class="container">
    <div class="post-detail py-5 bg-light">
      <div class="container">
        <div class="card mx-auto mt-4 shadow-lg">
          <%= image_tag @stray_cat.get_image, class:"card-img-top"; %>
          <div class="card-body">
            <div class="row">
              <div class="col-sm-12 col-md-2">
                
                <%= image_tag @stray_cat.user.get_profile_image(100,100), class:"mt-3 rounded-circle"; %>
              </div>
            
              <p class="card-text">説明：<%= @stray_cat.caption %></p>
              
              <span><i class="fa-solid fa-user"></i> By <%= @stray_cat.user.nickname %> | </span>
              <span><i class="fa-regular fa-calendar-days"></i><%= @stray_cat.created_at.strftime('%Y/%m/%d') %> | </span>
                <span><i class="fa-regular fa-comment"></i><%= @stray_cat.post_comments.count %> | </span>
                
                <span>
                 <% if @stray_cat.favorited_by?(current_user) %>
   
      <%= link_to stray_cat_favorites_path(@stray_cat), method: :delete do %>
        ♥<%= @stray_cat.favorites.count %> いいね
      <% end %> 
      
       <% else %>
        <%= link_to stray_cat_favorites_path(@stray_cat), method: :post do %>
        ♡<%= @stray_cat.favorites.count %> いいね
      <% end %>

      <% end %> 
                </span>
              </div>
            </div>
            <hr>
            <div>
               <h4 class="mt-3">コメント件数：</h4>
  <% @stray_cat.post_comments.each do |post_comment| %>
  <div class="col-sm-12 col-md-2">
    <%= image_tag post_comment.user.get_profile_image(100,100), class:"mt-3 rounded-circle"; %></div>
    <%= post_comment.user.nickname %>
    <%= post_comment.created_at.strftime('%Y/%m/%d') %><%= post_comment.comment %>
     <% if post_comment.user == current_user %>
      <%= link_to "削除", stray_cat_post_comment_path(post_comment.stray_cat, post_comment), method: :delete %>
    <% end %>

  <% end %>
  
            </div>
            <hr>
            <div class="new-comment card-text">
              <%= form_with model: [@stray_cat, @post_comment] do |f| %>
    <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに" %>
    <%= f.submit "送信する" %>
  <% end %> 
</div>
 <span><% if @stray_cat.user == current_user %>
    <%= link_to "削除", stray_cat_path(@stray_cat), method: :delete %>
    <% end %></span>
            </div>
          </div>
        </div>
  </div>
</main>
 </body>