<div class="container">

  <div class="row">
    <div class="col-md-8 offset-md-2">
      <table class="table">
        <thead>
          <tr>
            <th><div><%= @user.nickname %></div></th>
            <th><div class="text-right"><%= current_user.nickname %></div></th>
          </tr>
        </thead>
        <tbody>
          <% @messages.each do |message| %>
            <tr>
              <td>
                <% if message.user != current_user %>
                  <div><%= message.content %></div>
                  <div><%= image_tag message.image.variant(resize: "200x200^").processed if message.image.attached? %></div>
                <% end %>
              </td>
              <td>
                <% if message.user == current_user %>
                  <div class="text-right"><%= message.content %></div>
                  <div class="text-right"><%= image_tag message.image.variant(resize: "200x200^").processed if message.image.attached? %></div>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 offset-md-3">
      <%= form_with(model: [@room, @message], class: "form", local: true) do |f| %>
        <div class="form-group">
          <%= f.text_area :content, class: 'form-message, form-control', rows: 8, placeholder: 'メッセージを入力してください' %>
        </div>
        <div class="form-group">
          <label class="form-image">
            <span class="image-file">画像</span>
            <%= f.file_field :image, class: 'hidden' %>
          </label>
        </div>

        <%= f.submit '送信', class: 'form-submit btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>


<script type="text/javascript">
  const $scrollAuto = $('.messages');
  $scrollAuto.animate({scrollTop: ($scrollAuto[0].scrollHeight + 1000)}, 'fast')
</script>