<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
        <h1><%= @user.last_name + " " + @user.first_name %>の会員詳細</h1>
          <table class="table">
            <tbody>
              <tr>
                <td>氏名</td>
                <td><%= @user.last_name + " " + @user.first_name %></td>
              </tr>
              <tr>
                <td>カナ</td>
                <td><%= @user.last_name_kana + " " + @user.first_name_kana %></td>
              </tr>
              <tr>
                <td>郵便番号</td>
                <td><%= @user.postal_code %></td>
              </tr>
              <tr>
                <td>住所</td>
                <td><%= @user.address %></td>
              </tr>
              <tr>
                <td>電話番号</td>
                <td><%= @user.telephone_number %></td>
              </tr>
              <tr>
                <td>メールアドレス</td>
                <td><%= @user.email %></td>
              </tr>

    <div><%= link_to "Destroy", admin_user_path(@user.id), method: :delete, "data-confirm" => "本当に削除しますか？" %></div>
  </tbody>
</div>
</div>
</div>