<h1>ProtectiveCats#show</h1>
<div>
  <%= image_tag @protective_cat.get_image %>
  <p>名前：<%= @protective_cat.name %></p>
  <p>色：<%= @protective_cat.color %></p>
  <p>性別：<%= @protective_cat.gender %></p>
  <p>去勢/避妊：<%= @protective_cat.neuter %></p>
  <p>健康状態：<%= @protective_cat.health %></p>
  <p>説明：<%= @protective_cat.caption %></p>
  
  <p>投稿ユーザー画像：<%= image_tag @protective_cat.user.get_profile_image(100,100) %></p>
  <p>ユーザーネーム：<%= @protective_cat.user.nickname %></p>
  <p>投稿日：<%= @protective_cat.created_at.strftime('%Y/%m/%d') %></p>
   <% if @protective_cat.user == current_user %>
    <%= link_to "削除", protective_cat_path(@protective_cat), method: :delete %>
    <% end %>
    
    <% if @protective_cat.favorited_by?(current_user) %>
    <p>
      <%= link_to protective_cat_p_favorites_path(@protective_cat), method: :delete do %>
        ♥<%= @protective_cat.p_favorites.count %> いいね
      <% end %>
    </p>
      <% else %>
    <p>
      <%= link_to protective_cat_p_favorites_path(@protective_cat), method: :post do %>
        ♡<%= @protective_cat.p_favorites.count %> いいね
      <% end %>
    </p>
      <% end %>
</div>

<div>
    <p>コメント件数：<%= @protective_cat.p_post_comments.count %></p>
  <% @protective_cat.p_post_comments.each do |p_post_comment| %>
    <p><%= image_tag p_post_comment.user.get_profile_image(100,100) %></p>
    <%= p_post_comment.user.nickname %>
    <%= p_post_comment.created_at.strftime('%Y/%m/%d') %><%= p_post_comment.comment %>
     <% if p_post_comment.user == current_user %>
      <%= link_to "削除", protective_cat_p_post_comment_path(@protective_cat, p_post_comment), method: :delete %>
    <% end %>

  <% end %>
</div>

<div>
  <%= form_with model: [@protective_cat, @post_comment], url: protective_cat_p_post_comments_path(@protective_cat.id) do |f| %>
    <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに" %>
    <%= f.submit "送信する" %>
  <% end %>
</div>